@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

.loader {
    display: inline-block;
    margin-left: 420px;
    margin-right: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #373535;
    position: relative;
}

.loader::before {
    content: '';
    position: absolute;
    left: 9px;
    bottom: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid #c5bdbd;
    border-bottom-color: #ec6a3e;
    box-sizing: border-box;
    animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loader-more {
    color: #464444;
    display: inline-block;
    margin-left: 520px;
    position: relative;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.loader-more::after {
    content: '';
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    bottom: 4px;
    right: -10px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 10px 0 rgb(83, 63, 63), 20px 0 rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 10px 0 rgb(39, 36, 36), 20px 0 rgb(50, 46, 46);
    }
}
.container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    width: 371px;
    display: flex;
    gap: 8px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-input {
    font-size: 18px;
    flex-grow: 1;
    width: 272px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: transparent;
}
.search-input:hover {
    border-color: #000;
}
.search-input:active {
    outline: transparent;
    border-color: #4e75ff;
}

.search-btn {
    font-size: 14px;
    background-color: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
}

.search-btn:hover {
    background-color: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery-card {
    width: calc((100% - 48px) / 3);
    border: 1px solid #303030;
}

.gallery-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.image-info {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.text-descr {
    display: block;
}

.img-descr {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #0b2eaf
}

.quantity-descr {
    font-weight: normal;
    color: #303030;
}
.load-more {
    display: block;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 5px;
}
.is-hidden {
    display: none;
}